.search-form {
  width: 1140px;
  border-bottom: 1.5px solid rgba(170, 170, 170, 0.2);
  padding-bottom: 83px;
  margin: 80px auto 0 auto;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .search-form {
    max-width: calc(100% - 60px);
    margin: 60px auto 0 auto;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) and (min-width: 300px) {
  .search-form {
    width: calc(100% - 27px);
    padding-bottom: 20px;
    margin: 86px auto 0 auto;
  }
}

.search-form__form {
  position: relative;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .search-form__form {
    flex-direction: column;
    align-items: center;
    row-gap: 38px;
  }
}

@media screen and (max-width: 767px) and (min-width: 300px) {
  .search-form__form {
    flex-direction: column;
    align-items: center;
    row-gap: 45px;
  }
}

.search-form__input {
  width: 90%;
  height: 48px;
  padding-left: 22px;
  background-color: #FFFFFF;
  outline: none;
  color: #A0A0A0;
  border-radius: 50px;
  border: none;
}

.search-form__input:focus {
  border: 1.5px solid rgba(66, 133, 244, 0.8);
}

@media screen and (max-width: 767px) and (min-width: 300px) {
  .search-form__input {
    height: 56px;
    padding-left: 11px;
    margin-bottom: 4px;
  }
}

.search-form__button {
  width: 80px;
  height: 34px;
  background-image: url(../../images/search-form__button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 7px;
  border-radius: 48px;
  color: #FFFFFF;
  border: 0;
}

.search-form__button:hover {
  opacity: 0.6;
  transition-duration: 1s;
}

@media screen and (max-width: 767px) and (min-width: 300px) {
  .search-form__button {
    width: 80px;
    height: 44px;
    right: 7px;
    top: 6px;
  }
}

.search-form__wrapper {
  display: flex;
  justify-content: space-between;
  width: 167px;
  align-items: center;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .search-form__wrapper {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) and (min-width: 300px) {
  .search-form__wrapper {
    justify-content: flex-start;
  }
}

.search-form__title {
  color: #000000;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin-right: 14px;
}

@media screen and (max-width: 767px) and (min-width: 300px) {
  .search-form__title {
    font-size: 11px;
  }
}

.search-form__container {
  width: 80%;
  position: relative;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  border-radius: 50px;
}

@media screen and (max-width: 1279px) and (min-width: 300px) {
  .search-form__container {
    margin-right: 0;
    width: 100%;
  }
}